* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 100px;
  width: 90%;
  max-width: 550px;
}
.container-add {
  background-color: rgb(248, 162, 1);
  width: 100%;
  padding: 6%;
  display: flex;
  flex-flow: column;
}
.container-add h2 {
  text-align: center;
  display: block;
  width: 100%;
  color: white;
}
.container-add .container-search {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
}
.container-search input {
  width: 75%;
  border: none;
  padding: 3%;
  outline: none;
}
.container-search .button-Add {
  border: none;
  width: 22%;
  color: gray;
}
.container-search button:active {
  box-shadow: 1px 1px 10px gray;
}
.container-search button:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}
.container-list li {
  width: 100%;
  padding: 2.6%;
  background-color: rgb(231, 231, 231);
  padding-left: 30px;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container-list li:hover {
  background-color: lightgray;
}
.container-list li ::after {
  content: e872;
}
.closeBtn {
  color: black;
  visibility: hidden;
}
.closeBtn:hover {
  color: red;
}
.container-list li:hover .closeBtn {
  visibility: initial;
}
.addtext {
  position: absolute;
  right: 8%;
  visibility: hidden;
}
.addtext:hover {
  color: green;
}
.Icon-animation-Text {
  position: absolute;
  right: 8.1%;
  visibility: hidden;
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.Icon-animation-Text:hover {
  color: green;
}
.icon-edit:hover {
  color: green;
  cursor: pointer;
}
.container-list li:hover .Icon-animation-Text {
  visibility: initial;
}
.container-list li:hover .addtext {
  visibility: initial;
}
.textarea {
  width: 100%;
  height: 100px;
  background-color: rgb(231, 252, 252);
  border: none;
}
.buttonChangText {
  background-color: rgb(231, 252, 252);
  border: none;
  padding: 10px;
  color: rgb(97, 96, 96);
}
.buttonChangText:hover {
  background-color: rgb(193, 245, 245);
}
.buttonChangText:active {
  box-shadow: -1px -1px 60px rgb(77, 197, 197);
}
.shaking {
  animation: shake 0.6s ease;
}
.Text {
  display: block;
  width: 100%;
  background-color: rgb(134, 248, 210);
  border-radius: 5px;
  overflow: hidden;
}
.Text .show-icon {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -33.5px;
  visibility: hidden;
  margin-bottom: 15px;
  margin-left: 10px;
}
.Text:hover .show-icon {
  visibility: initial;
}
.aktive-icon-Text {
  transform: rotate(-270deg);
  transition: all 0.3s;
}
.Text .Timer {
  position: relative;
  top: -15px;
  left: -15px;
  margin-left: 7px;
  font-size: 15px;
  color: rgb(87, 84, 84);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  visibility: hidden;
}
.Text:hover .Timer {
  visibility: initial;
}
.Text .show-Text {
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.Text .containerTimerAndIconEdite {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  50% {
    transform: translate(3px, -3px);
  }
  75% {
    transform: translate(-3px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}
